@import "reset.css";
@import "common.css";


/* Documents index */

#documents-table {
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}

th {
  padding: 10px;
  background: #e6e4da;
  color: black;

  /* Keep header visible */
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

td {
  padding: 10px;
  border: 1px solid black;
}


a.missing-page {
  color: red;
}

#documents-table .description {
  width: 40%;
}

#documents-table .date {
  width: 140px;
}

/*#documents-table .pages {*/
  /*width: 25%;*/
/*}*/

#documents-table .part-title {
  font-weight: 700;
  font-size: 32px;
  color: #1614ff;
}
