/* Collection index. */

tei-table.collection-index > table {
  // TEI/CETEIcean do not handle table header, so the first row is it:
  tr:first-child {
    td {
      // Replicate Chrome's and minima's styling of the th
      // on the td elements of the first row (thead/tr analogue):
      font-weight: bold;
      background-color: #f0f0f0;
      border: 1px solid #dedede;
      border-bottom-color: #c9c9c9;
      padding: 10px 15px;

      // Keep header visible
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

  // Size the columns
  td.description { width: 44%; }
  td.date        { width:  8%; }
  td.author      { width: 10%; }
  td.addressee   { width: 10%; }
  td.language    { width:  4%; }
  td.document    { width:  5%; }
  td.pages       { width:  8%; }
  td.transcriber {             }


  // Part title
  .part-title {
    font-weight: 700;
    font-size: 32px;
    color: #1614ff;
  }

  // Missing page links
  tei-ref.missing-page a {
    color: red;
  }
}
