/* Facsimile viewer */

div.facsimileViewer {
  width: 1060px;
  height: 1586px;
  overflow: hidden;
  padding: 0 1em .25em 0;
  resize: both;
}

div.facsimileScroller {
  width: 100%;
  height: 98%;
  overflow-y: scroll;
  border: 1px solid black;
}

.facsimileScroller img {
  margin-top: .5em;
}
.facsimileScroller img:first-child {
  margin-top: 0;
}
