/* Lists of people, places and organizations. */

$tei-list-head-font-size: 32px;
$tei-list-head-text-indent: -0.5em;
$tei-named-margin-top: 1em;
$tei-named-margin-bottom: 1em;
$tei-named-name-font-size: 24px;

tei-listperson > tei-head {
  font-size: $tei-list-head-font-size;
  text-indent: $tei-list-head-text-indent;
}
tei-listplace > tei-head {
  font-size: $tei-list-head-font-size;
  text-indent: $tei-list-head-text-indent;
}
tei-listorg > tei-head {
  font-size: $tei-list-head-font-size;
  text-indent: $tei-list-head-text-indent;
}

tei-person {
  display: block;
  margin-top: $tei-named-margin-top;
  margin-bottom: $tei-named-margin-bottom;
}
tei-place {
  display: block;
  margin-top: $tei-named-margin-top;
  margin-bottom: $tei-named-margin-bottom;
}
tei-org {
  display: block;
  margin-top: $tei-named-margin-top;
  margin-bottom: $tei-named-margin-bottom;
}

tei-person > tei-persName {
  display: block;
  font-size: $tei-named-name-font-size;
}
tei-place > tei-placeName {
  display: block;
  font-size: $tei-named-name-font-size;
}
tei-org > tei-orgName {
  display: block;
  font-size: $tei-named-name-font-size;
}

.mentions {
  font-size: smaller;
}
