/* Style top-level TEI <head> same way Minima styles .post-title */
tei-body > tei-head {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  text-indent: 0em;
  margin-block-end: 15px;
  margin-bottom: 15px;
}

/* editorial */

tei-del[rend='overstrike'] {
  text-decoration: red line-through;
}

tei-emph[rend='underline'] {
  font-style: normal;
  text-decoration: underline;
}
tei-emph[rend='big'] {
  font-style: normal;
  font-size: larger;
}
tei-emph[rend='superscript'] {
  vertical-align: super;
}
tei-hi[rend='underline'] {
  text-decoration: underline;
}
tei-hi[rend='big'] {
  font-size: larger;
}
tei-hi[rend='superscript'] {
  vertical-align: super;
}

tei-add {
  background-color: #ffcdcd;
}

tei-supplied {
  background-color: #aaffaa;
}

tei-corr {
  background-color: #aaffaa;
}

tei-unclear {
  background-color: #aaffaa;
}

tei-note[place='end'] a {
  color: red;
}
tei-note[type='gloss'] {
  background-color: gainsboro;
}

tei-fw[type='pageNum'] {
  background-color: lightgray;
  border-radius: 1em;
}

ol.notes {
  padding-top: 2em;
}
